@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


/* EVERY PAGE */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.carousel img,
.postListContent img,
.detailsHeader img {
    object-fit: cover;
    object-position: 1px -1px;
}

body {
    background-color: #24292e;
    display: flex;
    flex-direction: column;

}

main {
    min-height: calc(100vh - 217px);

}


/* FOOTER */

footer {
    background-color: #34292e;
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 900px) {

    #phoneFooter {}

}

/* HEADER */

#monitorMenu {
    padding-top: 2.5%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

nav {
    padding-bottom: 100px;
}

ul {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

a,
ul,
li {
    list-style: none;
    text-decoration: none;
    color: wheat;
    gap: 10px;
}

li {
    min-width: 160px;
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    opacity: 0.75;
    transition: 250ms;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

ul a:hover {
    font-size: 21px;
    opacity: 1;
}

#phoneMenu {
    display: none;
}

/* INDEX */

.sectionHeader {
    height: auto;
    width: 100%;
}

.sectionHeaderContainer {
    margin: 0 auto;
    width: 83%;
    height: auto;
}

.sectionHeaderContainer div {
    height: 1px;
    width: 100%;
    background-color: wheat;
}

.sectionHeaderContainer h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 10;
    color: wheat;
    background-color: #24292e;
    position: relative;
    left: 20%;
    top: -15px;
    display: inline;
    padding: 0px 20px;
}


/* CAROUSEL */

.carousel {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.carouselTrackContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.carouselTrack {
    /* abra-cadabra */
}

.carouselSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 5px;
}

.currentSlide {
    z-index: 10;
    background-color: #24292e;
}

.carouselSlideGroup {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.carouselCard {
    padding: 4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.carouselCard:hover {

    position: relative;
    top: -5px;
    cursor: pointer;
    z-index: 999;
}


.carouselImg {
    width: 400px;
    height: auto;
}

.carouselImgContainer {
    position: relative;
}

.carouselImgName {
    padding: 8px;
    position: absolute;
    width: fit-content;
    font-size: 20px;
    bottom: 70px;
    right: 0px;
    color: white;
    background-color: rgba(36, 41, 46, 0.801);
    text-transform: uppercase;

}

.carouselText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B3034;
    height: 90px;
}

.carouselText a {
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    text-decoration: underline;
}

.carouselText div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.carouselText div p {
    color: #fff;

}

.carouselButton {
    background: transparent;
    border: 0;
    cursor: pointer;

}

.carouselButtonLeft {
    position: relative;
    left: -10%;
    top: 35%;
}

.carouselButtonRight {
    position: relative;
    left: 110%;
    top: -75%;
}

.carouselLoading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.carouselLoading>div {
    background-color: #2B3034;
}

.cardLoading {
    background-color: #2B3034;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    margin: 4px 4px 80px 4px;
    height: 404px;
    width: 400px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

/* POSTLIST */

.postListContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    margin: 0 auto;
}

.appetizerContainer,
.dinnerContainer,
.dessertContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 83%;
    margin: 0 auto;
}

.loadBtnContainer {
    margin: 0 auto;
    width: 83%;
    display: flex;
    justify-content: end;
}

#loadDinnersBtn,
#loadDessertsBtn,
#submitBtn {
    background-color: wheat;
    font-size: 18px;
    color: #24292e;
    border: 1px wheat solid;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.postListImg {
    width: 100%;
}

/* POST DETAILS */

.postDetailsContainer h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 10;
    color: wheat;
}

.detailsMethod {
    padding-top: 50px;
    text-align: center;
}

.detailsHeader {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

#ingredientList {
    color: #fff;
    line-height: 50px;
}

#recepieDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 0px;
    width: 45%;
    margin: 0 auto;
    color: #fff;
    line-height: 35px;
}

/* CONTACT */

.contactContainer {
    padding-top: 30px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImgContainer p {
    color: #fff;
    top: 540px;
    left: 80px;
}

.contactImgContainer {
    position: relative;
    width: auto;
    height: 100%;
}

.contactImgContainer img {
    width: 100%;
    height: auto;
    min-width: 170px;

}

.contactImgContainer div {
    width: 100%;
}


form {

    padding: 20px;
    width: 100%;
    min-width: 210px;
    height: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
}

label {
    color: white;
}

input {
    border-style: none;
    background-color: #24292e;
    border-bottom: 1px solid wheat;
    height: 25px;
    color: #fff;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

#nameError,
#emailError,
#subjectError,
#messageError {
    display: none;
    color: crimson;
}

textarea {
    margin-top: 7px;
    max-width: 99.5%;
    min-width: 99.5%;
    max-height: 160px;
    height: 100px;
    min-height: 30px;
    background-color: #24292e;
    border: 1px solid wheat;
    border-radius: 4px;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

/* ABOUT */

.aboutContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}

.aboutImage img {
    height: 100%;
    width: auto;
}

.aboutText {
    margin-left: -40px;
    width: 300px;
    border: 2px wheat solid;
    background-color: #24292e;
}

.aboutText h3 {
    margin: 0 auto;
    padding: 20px;
    font-size: 40px;

}

.aboutText h3 {
    color: wheat;

}

.aboutText p {
    color: white;
    padding: 10px 20px;
    line-height: 130%;
}

@media only screen and (max-width: 800px) {
    .aboutImage img {
        height: 500px;
        width: auto;
    }

}


/* LOADER */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    main {
        padding-bottom: 90px;
    }

    #monitorMenu {
        display: none;
    }

    #phoneMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #242327;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 50;
    }

    #phoneMenu a {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 5px 10px 5px;
    }

    #phoneMenu img {
        padding-bottom: 10px;
        width: 70%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #phoneMenu p {
        color: wheat;
        text-transform: uppercase;
        padding-bottom: 8px;
        font-size: 14px;
    }


}

/* IMAGE ZOOM */

.zoomedImg {
    height: 70%;
    width: auto;
    z-index: 9;
    margin: 0 auto;
    display: flex;
    align-self: center;
}


.zoomedImgBackground {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;

    overflow-x: hidden;
}