@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* EVERY PAGE */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.carousel img,
.postListContent img,
.detailsHeader img,
.zoomedImg {
    object-fit: cover;
    object-position: 1px -1px;
}

body {
    background-color: #24292e;
    display: flex;
    flex-direction: column;
}

main {
    min-height: calc(100vh - 350px);
}


/* FOOTER */

footer {
    background-color: #34292e;
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#monitorMenu {
    padding-top: 2.5%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

nav {
    padding-bottom: 100px;
}

ul {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

a,
ul,
li {
    list-style: none;
    text-decoration: none;
    color: wheat;
    gap: 10px;
}

li {
    min-width: 160px;
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    opacity: 0.75;
    transition: 250ms;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

ul a:hover {
    font-size: 21px;
    opacity: 1;
}

#phoneMenuContainer {
    display: none;
}

/* INDEX */

.sectionHeader {
    height: auto;
    width: 100%;
}

.sectionHeaderContainer {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.sectionHeaderContainer div {
    height: 1px;
    width: 100%;
    background-color: wheat;
}

.sectionHeaderContainer h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 10;
    color: wheat;
    background-color: #24292e;
    position: relative;
    left: 20%;
    top: -15px;
    display: inline;
    padding: 0px 20px;
}

#contactHeader {
    position: absolute;
    top: 0;
}

.popularContainer {
    padding-top: 50px;
}

@media only screen and (max-width: 900px) {
    .sectionHeaderContainer h2 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 10;
        color: wheat;
        background-color: #24292e;
        position: relative;
        left: 20%;
        top: -15px;
        display: inline;
        padding: 0px 16px;
    }

    #popular {
    gap: 0px;
    }
}


/* CAROUSEL */

.carousel {
    position: relative;
    width: 80%;
    height: 900px;
    margin: 0 auto;
}

.carouselTrackContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.carouselTrack {
    /* abra-cadabra */
}

.carouselSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 5px;
}

.currentSlide {
    z-index: 10;
    background-color: #24292e;
}

.carouselSlideGroup {
    display: flex;
    justify-content: space-between;
}

.carouselCard {
    padding: 4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.carouselCard:hover {
    position: relative;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}


.carouselImg {
    width: 100%;
    height: auto;
}

.carouselImgContainer {
    position: relative;
}

.carouselImgName {
    padding: 8px;
    position: absolute;
    width: fit-content;
    font-size: 20px;
    bottom: 70px;
    right: 0px;
    color: white;
    background-color: rgba(36, 41, 46, 0.801);
    text-transform: uppercase;
}

.carouselText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B3034;
    height: 90px;
}

.carouselText a {
    font-size: 20px;

    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    text-decoration: underline;
}

.carouselText div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.carouselText div p {
    color: #fff;
    font-size: 20px;

}

.carouselButton {
    background: transparent;
    border: 0;
    cursor: pointer;

}

.carouselButtonLeft {
    position: relative;
    left: -8%;
    top: 40%;
    transform: translate(-50%, 50%);
}

.carouselButtonRight {
    position: relative;
    left: 107%;
    top: -60%;
    transform: translate(50%, -50%);
}

.carouselLoading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
}

.cardContainerLoading {
    background-color: #2B3034;
    height: 700px;
    width: 100%;
}

.cardLoading {
    background-color: #2B3034;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 700px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@media only screen and (max-width: 1050px) {


    .carouselText div p {
        font-size: 12px;
    }

    .carouselImgName {
        padding: 2px;
        font-size: 12px;
    }

    .carouselText a {
        font-size: 12px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .carouselButtonLeft {
        top: 20%;
    }

    .carouselButtonRight {
        top: -80%;
    }
}

@media only screen and (max-width: 2000px) {
    .carousel {
        height: 800px;
    }

}

@media only screen and (max-width: 1200px) {
    .carousel {
        height: 550px !important;
    }

}

@media only screen and (max-width: 1600px) {
    .carousel {
        height: 650px;
    }
    .carouselButtonLeft {
        top: 25%;
    }

    .carouselButtonRight {
        top: -75%;
    }
}

@media only screen and (max-width: 1500px) {
    .carouselButtonLeft {
        top: 25%;
    }

    .carouselButtonRight {
        top: -75%;
    }
    .carouselLoading {
        gap: 20px;
        width: 100%;
        height: 600px;
    }
    
    .cardContainerLoading {
        height: 500px;
        width: 100%;
    }
    
    .cardLoading {
        height: 500px;
    }
}


@media only screen and (max-width: 900px) {
    .carousel{
        height: 430px !important;
    }

    .carouselButtonLeft {
        top: 18%;
    }

    .carouselButtonRight {
        top: -82%;
        left: 100%;
    }

    .carouselLoading {
        gap: 20px;
        width: 100%;
        height: 450px;
    }
    
    .cardContainerLoading {
        height: 350px;
        width: 100%;
    }
    
    .cardLoading {
        height: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .carousel {
        height: 300px !important;
    }

    .carouselButtonLeft {
        top: 30%;
    }

    .carouselButtonRight {
        top: -70%;
        left: 98%;
    }

    .carouselText div p {
        font-size: 10px;
    }

    .carouselImgName {
        padding: 2px;
        font-size: 10px;
    }

    .carouselText a {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .carouselLoading {
        gap: 20px;
        width: 100%;
        height: 200px;
    }
    
    .cardContainerLoading {
        height: 100px;
        width: 100%;
    }
    
    .cardLoading {
        height: 100px;
    }
}

    /* POSTLIST */

    .postListContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
        margin: 0 auto;
    }

    .appetizerContainer,
    .dinnerContainer,
    .dessertContainer,
    .popularContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        width: 80%;
        margin: 0 auto;
    }

    .loadBtnContainer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: end;
    }

    #loadDinnersBtn,
    #loadDessertsBtn,
    #submitBtn {
        background-color: wheat;
        font-size: 18px;
        color: #24292e;
        border: 1px wheat solid;
        padding: 10px;
        border-radius: 10px;
        width: fit-content;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        align-self: flex-end;
    }

    .postListImg {
        width: 100%;
    }

    @media only screen and (max-width: 900px) {

        .appetizerContainer,
        .dinnerContainer,
        .dessertContainer {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

    }

    /* POST DETAILS */

    .postDetailsContainer h3 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 10;
        color: wheat;
    }

    .detailsMethod {
        padding-top: 50px;
        text-align: center;
    }

    .detailsHeader {
        display: flex;
        justify-content: center;
        gap: 100px;
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .detailsHeaderImg {
        width: 100%;
        max-width: 700px;
        height: auto;

    }

    .detailsHeaderImg img {
        width: 100%;
        height: auto;
    }


    #ingredientList {
        color: #fff;
        line-height: 40px;
        padding-top: 30px;
        min-width: 250px;
    }

    #recepieDescription {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 35px 0px;
        width: fit-content;
        margin: 0 auto;
        color: #fff;
        line-height: 25px;
    }

    .detailsHeaderLoading {
        display: flex;
        flex-direction: row;
        gap: 100px;
        width: 40%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .detailsImgLoading {
        background-color: #2B3034;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        width: 60%;
        height: 600px;
    }

    .detailsIngredientsLoading {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 20%;
    }

    .detailsIngredientLoading {
        background-color: #2B3034;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        width: 100%;
        height: 16px;
    }

    @media only screen and (max-width: 1300px) {

        .detailsHeader {
            flex-direction: column;
        }

        .detailsHeader {
            gap: 40px;
        }

        #recepieDescription {
            width: 80%;
        }

        .detailsMethod {
            text-align: left;
            width: 80%;
            margin: 0 auto;
        }


        .detailsHeaderLoading {
            flex-direction: column;
            gap: 100px;
            width: 40%;
            margin: 0 auto;
            padding-top: 50px;
        }
    
        .detailsImgLoading {
            background-color: #2B3034;
            background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
            width: 200px;
            height: 200px;
        }
    
        .detailsIngredientsLoading {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
        }

    }



    /* CONTACT */

    #contactMain {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactContainer {
        padding-top: 50px;
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .contactImgContainer {
        position: relative;
        width: auto;
        height: 100%;
    }

    .contactImgContainer img {
        width: 100%;
        height: auto;
        min-width: 170px;

    }

    .contactImgContainer div {
        width: 100%;
    }


    form {

        padding: 20px;
        width: 100%;
        min-width: 210px;
        height: fit-content;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 15px;
    }

    label {
        padding: 0px 5px;
        color: white;
    }

    input {
        border-style: none;
        background-color: #24292e;
        border-bottom: 1px solid wheat;
        height: 25px;
        color: #fff;
        padding: 0px 5px;
    }

    .fieldContainer {
        display: flex;
        flex-direction: column;
    }

    #nameError,
    #emailError,
    #subjectError,
    #messageError {
        display: none;
        color: crimson;
    }

    textarea {
        margin-top: 7px;
        max-width: 99.5%;
        min-width: 99.5%;
        max-height: 160px;
        height: 100px;
        min-height: 30px;
        background-color: #24292e;
        border: 1px solid wheat;
        border-radius: 4px;
        color: white;
        padding: 0px 2px;
    }

    input:focus-visible,
    textarea:focus-visible {
        outline: none;
    }

    @media only screen and (max-width: 900px) {
        .contactImgContainer {
            display: none;
        }

        form {
            min-width: 310px;
        }
    }

    /* ABOUT */

    .aboutContainer {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px
    }

    .aboutImage img {
        height: 100%;
        width: auto;
    }

    .aboutText {
        margin-left: -40px;
        width: 300px;
        border: 2px wheat solid;
        background-color: #24292e;
    }

    .aboutText h3 {
        margin: 0 auto;
        padding: 20px;
        color: wheat;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 10;


    }


    .aboutText p {
        color: white;
        padding: 10px 20px;
        line-height: 130%;
    }

    @media only screen and (max-width: 800px) {
        .aboutImage img {
            height: 250px;
            padding-left: 5px;
        }

        .aboutText {
            padding-right: 5px;
            margin-right: 5px;
        }

    }


    /* LOADER */

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @media only screen and (max-width: 900px) {
        main {
            padding-bottom: 90px;
        }

        #monitorMenu {
            display: none;
        }

        #phoneMenuContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            border-top: rgba(245, 222, 179, 0.199) solid 1px;
            background-color: #242327;
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 9999999999999999;
        }


        #phoneMenuContainer a {
            height: 100%;
            width: 97%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 4px;
        }

        #phoneMenuContainer img {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 50px;
            height: auto;
        }

        #phoneMenuContainer p {
            color: wheat;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
        }


    }

    /* IMAGE ZOOM */

    .zoomedImg {
        height: 70%;
        width: auto;
        z-index: 99;
        margin: 0 auto;
        display: flex;
        align-self: center;
    }

    .zoomedImgBackground {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 98;
        position: fixed;
        top: 0;
        left: 0;

        overflow-x: hidden;
    }