@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


/* EVERY PAGE */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #24292e;
}

main {
    min-height: calc(100vh - 217px);
    display: flex;
    justify-content: center;

}

/* FOOTER */

footer {
    background-color: #34292e;
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#monitorMenu {
    padding-top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

a,
ul,
li {
    list-style: none;
    text-decoration: none;
    color: wheat;
    gap: 10px;
}

li {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    opacity: 0.75;
    transition: 250ms;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

a:hover {
    font-size: 17px;
    opacity: 1;
}

#phoneMenu {
    display: none;
}

/* INDEX */


/* CONTACT */

form {
    padding: 20px;
    width: 400px;
    height: fit-content;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
}

label {
    color: white;
}

input {
    background-color: #24292e;
    border: 1px solid white;
    border-radius: 4px;
    height: 25px;
    color: #fff;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

#nameError,
#emailError,
#subjectError,
#messageError {
    display: none;
    color: crimson;
}

textarea {
    max-width: 99.5%;
    min-width: 99.5%;
    max-height: 100px;
    height: 60px;
    min-height: 20px;
    background-color: #24292e;
    border: 1px solid white;
    border-radius: 4px;

}

/* LOADER */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 650px) {

    #phoneMenu {
        display: flex;
        justify-content: space-between;
    }

    #phoneMenuIcon {
    }


    #monitorMenu {
        display: none;
    }

    #phoneLogo {
        height: 70%;
        width: auto;
    }

    #logoLink {

    }
}