/* EVERY PAGE */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #24292e;
}

/* FOOTER */

/* HEADER */

/* INDEX */


/* CONTACT */

form {
    width: 400px;
    height: auto;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: white;
}

input {
    background-color: #24292e;
    border: 1px solid white;
    border-radius: 4px;
    height: 25px;
    color: #fff;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

#nameError,
#emailError,
#subjectError,
#messageError {
    display: none;
}

textarea {
    max-width: 100%;
    max-height: 100px;
    height: 60px;
    min-height: 20px;
    background-color: #24292e;
    border: 1px solid white;
    border-radius: 4px;

}

/* LOADER */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}